version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 5
- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
